* {
  box-sizing: border-box;
}

body{
  text-align: center;
  font-weight: bold;
  color: black; 
  background-color: gray;
}
main{
    display: inline-block;
}
h1 {
  text-align: center;
}
img {
  display: block;
  width: 150px;
  float: left;
  height: 150px;
  border: 2px solid lightblue;
}
#image-container {
  border: 5px double rgb(116, 98, 0);
    width: 800px;
    margin: 0 auto;
    height: 175px;
    display: flex;
    margin-bottom: 30px;
}
#leftImg,
#midImg,
#rightImg {
  width: 200px;
  margin: 10px;
  border-color: black;
}
#leftImg:hover, 
#rightImg:hover,
 #midImg:hover
  {
    opacity: 50%;
  }


span {
  margin-left: 50px;
}
#attempts {
  margin-left: 20px;
  font-size: 20px;
}
button
  {
    width: 100px;
    height: 30px;
  }